ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #384b42;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #5ec29a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text_decoration-color: #9ab0a6;
}

li a:hover {
    background-color: #111;
}